<div ng-include="'templates/layout/layout.html'"></div>
<div class="main-content main-he">
    <!-- 添加潜在客户 -->   
      <div class="head_bt">
        <h2>添加潜在客户</h2>
      </div>
      <ul class="new-add">
      <li><button type="button" class="btn btn-primary active new-addbut" onclick="window.location.href='/manageSystem/#/investor/investor_add'">+新用户</button></li>
      <!-- 搜索框 -->
      <li><div class="input-group quer">
       <input type="text" class="form-control quer-ico" placeholder="仅支持真实姓名、电话或QQ" ng-model="keyword"/>
       <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="searchIntentionCustomer()">搜索用户</button>
       </span>
       </div>
       </li>
      </ul>

      <div>
          <table class="table table-bordered ta-bo">
            <thead class="thead_table">
              <tr class="thead_tr">
                <th class="thead_th">投资人姓名</th>
                <th class="thead_th">电话</th>
                <th class="thead_th">QQ</th>
                <th class="thead_th">添加时间</th>
                <th class="thead_th">理财顾问</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="x in itemList">
                <td>{{x.customerName}}</td>
                <td>{{x.customerTel}}</td>
                <td>{{x.customerQq}}</td>
                <td>{{x.createdTime|date:'yyyy-MM-dd'}}</td>
                <td>{{x.userRealName}}</td>
              </tr>
            </tbody>
          </table>
        </div>
<div style="overflow: hidden;margin-top: 10px; margin: auto; text-align: center;">
                <nav>
                    <ul id="pagination" class="pagination pagination-sm" style="">
                        <li id="firstPage"><span ng-click="selectPage(1)"
                                                 aria-hidden="true">首页</span></li>
                        <li id="Previous"><span ng-click="selectPage(nowPage-1)"
                                                aria-hidden="true">«</span></li>
                        <li ng-repeat="page in pages" ng-class="{true:'active'}[page.showNumber==nowPage]">
                            <a
                                    ng-click="selectPage(page.showNumber)">{{page.showNumber}}</a></li>
                        <li ng-show="isShowDot"><a ng-click="selectPage(nowPage+6)">……</a></li>
                        <li id="Next"><a ng-click="selectPage(nowPage+1)" aria-label="Next"><span
                                aria-hidden="true">»</span></a></li>
                        <li id="lastPage"><a ng-click="selectPage(totalPages)"><span
                                aria-hidden="true">尾页</span></a></li>
                    </ul>
                </nav>
            </div>
 </div>
  