<div ng-cloak>
<div ng-include="'templates/layout/layout.html'"></div>
<div class="main-content main-he">
    <div class="head_bt">
        <h2>投资人充值流水</h2>
    </div>
    <div style="margin-bottom:55px;">
        <div class="recordQuer">

            <div class="input-group" style="float: left;">
        <!--<span class="timeTip1">开始时间：<input type="text" class="timeTip1" placeholder="年/月/日 时：分：秒" value="" id="myTime" ng-model="cashData.startDate"  onclick="SelectDate(this,'yyyy/MM/dd hh:mm:ss')"/></span>-->
                <span class="timeTip1">充值时间：</span><input type="date" placeholder="yyyy-MM-dd "  class="timeTip1"  ng-model="cashData.startDate" />
            </div>
        <!--<span class="timeTip">开始时间：</span><input type="date" placeholder="yyyy-MM-dd "  class="serch_new"  ng-model="cashData.startDate" /><input type="time"  class="serch_new1" ng-model="cashData.startDate" />-->
    <!--</div>-->
    <!--<div class="input-group quer" style="float: left;">-->
            <div class="input-group" style="float: left;">
        <!--<span class="timeTip1">结束时间：<input type="text" class="timeTip1" placeholder="年/月/日 时：分：秒" value="" id="myTime1" ng-model="cashData.endDate"  onclick="SelectDate(this,'yyyy/MM/dd hh:mm:ss')"/></span>-->
                <span class="timeTip1">--&nbsp;&nbsp;</span><input type="date" placeholder="yyyy-MM-dd "  class="timeTip1"  ng-model="cashData.endDate" />
            </div>
        <!--<span class="timeTip">结束时间：</span><input type="date" placeholder="yyyy-MM-dd " class="serch_new"  ng-model="cashData.endDate" /><input type="time"  class="serch_new1" ng-model="cashData.endDate" />-->
    <!--</div>-->
    <!--<div class="input-group quer" style="width:250px;float: left;margin: 0 0 0 20px">-->
        <!--<input  style="width:250px;" type="text" ng-model="keyword" class="serch_new"-->
               <!--placeholder="时间或账号搜索，这里填写账户名"/>-->
    <!--</div>-->
        <!--<div class="input-group quer" style="width:200px;float: left;margin-left:50px;">-->
            <!--<input type="datetime-local" placeholder="yyyy-MM-dd HH:mm:ss" class="serch_new"  ng-model="cashData.endDate" />-->
            <div class="input-group" style="float: left;margin-left:30px;">
            <select ng-model="cashData.status" class="timeTip1">
                <option value="" disabled selected style="display:none">请选择充值状态</option>
                <option value="" >请选择充值状态</option>
                <option value="success">成功</option>
                <option value="fail">失败</option>
                <option value="wait_pay">待支付</option>
                <option value="overdue">失效</option>
            </select>

        </div>
             <div class="input-group" style="float: left;margin-left:30px;">
               <select class="select_style" ng-model="cashData.channel" id="channelNum" style="padding-left:15px;">
                   <option value="">请选择渠道</option>
                   <option ng-repeat="x in roleOptions track by $index" value="{{x}}" >{{x}}</option>
               </select>
           </div> 
            <div class="input-group " style="float: left;margin-left:30px;">
                <input  style="width:250px;" type="text"  ng-model="keyword" class="timeTip1" placeholder="投资人的账号、姓名或手机号码"/>
            </div>
            <div class="input-group" style="float: left;margin-left:30px;">
        <button class="search_buttun" type="button" ng-click="searchRecharge()">
            <i style="padding-right:5px;line-height:30px;" class="glyphicon glyphicon-search"></i> 查询
        </button>
    </div>
            <div class="input-group" style="float: left;margin-left:30px;" ng-hide='role==870 || role==880'>
                <a href="/manageSystem/#/money/offline">
                <button class="search_buttun" type="button" >
                    <!--<i style="padding-right:5px;line-height:30px;" class="glyphicon glyphicon-search"></i> -->
                    线下充值
                </button>
                </a>
            </div>
            <div class="input-group" style="float: left;margin-left:30px;">
                <a class="search_buttun1 " target="_blank"  ng-click="gotoExport(cashData.status)">
                    <i style="padding-right:5px;line-height:30px;" class="glyphicon glyphicon-share-alt"></i>导出列表
                </a>
            </div>
    </div>
    <div style="margin-top:20px;">
        <div>
            <table class="table table-bordered ta-bo back-wi">
            <thead class="thead_table">
            <tr class="thead_tr ">
                <th class="thead_th">姓名</th>
                <th class="thead_th">充值金额(元)</th>
                <th class="thead_th">手续费(元)</th>
                <th class="thead_th">充值方式</th>
                <th class="thead_th">充值状态</th>
                <th class="thead_th">充值时间</th>
                <th class="thead_th">成功时间</th>
                <th class="thead_th">充值卡号</th>
                <th class="thead_th">订单号</th>
                <th class="thead_th">备注</th>
                <th class="thead_th">手机</th>
                 <th class="thead_th">渠道</th> 
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="m  in  itemList">
                <td>{{m.realName}}</td>
                <td>{{m.money|PointToYuan| currency:"":2}}</td>
                <td>{{m.fee|PointToYuan| currency:"":2}}</td>
                <td>
                    <!--{{m.rechargeWay}}-->
                    <span ng-show="m.rechargeWay=='union'">银联</span>
                    <span ng-show="m.rechargeWay=='dir'">快捷</span>
                    <span ng-show="m.rechargeWay=='app'">手机</span>
                    <span ng-show="m.rechargeWay=='offline'">线下</span>
                </td>
                <td>
                    <span ng-show="m.status=='success'">成功</span>
                    <span ng-show="m.status=='fail'">失败</span>
                    <span ng-show="m.status=='wait_pay'">待支付</span>
                    <span ng-show="m.status=='overdue'">失效</span>
                </td>
                <td>{{m.time|jsonDate}}</td>
                <td>{{m.successTime|jsonDate}}</td>
                <td>{{m.bankCardNo}}</td>
                <td>{{m.orderNum}}</td>
                <td>{{m.remark}}</td>
                <td>{{m.phone}}</td>
                 <td>{{m.channel}}</td> 
            </tr>
            </tbody>
        </table>
        <div style="overflow: hidden;margin-top: 10px; margin: auto; text-align: center;" ng-show="totalPages>0">
            <nav>
                <ul id="pagination" class="pagination pagination-sm" style="">
                    <li id="firstPage"><span ng-click="selectPage(1)"
                                             aria-hidden="true">首页</span></li>
                    <li id="Previous"><span ng-click="selectPage(nowPage-1)"
                                            aria-hidden="true">«</span></li>
                    <li ng-repeat="page in pages" ng-class="{true:'active'}[page.showNumber==nowPage]">
                        <a ng-click="selectPage(page.showNumber)">{{page.showNumber}}</a></li>
                    <li ng-show="isShowDot"><a ng-click="selectPage(nowPage+6)">……</a></li>
                    <li id="Next"><a ng-click="selectPage(nowPage+1)" aria-label="Next"><span
                            aria-hidden="true">»</span></a></li>
                    <li id="lastPage"><a ng-click="selectPage(totalPages)"><span
                            aria-hidden="true">尾页&nbsp;</span></a></li>
                    <li id="sumCount"><span
                            aria-hidden="true">共{{sumCount}}条</span></li>
                    <li><a><span
                            aria-hidden="true"><input style="width: 30px;height: 16px" type="text"  ng-model="tiaoz">&nbsp;&nbsp;<span  ng-click="selectPage(tiaoz)">跳转</span></span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    </div>
</div>

<script type="text/javascript" src="resource/js/time.js"></script>
<script>
//    $(document).ready(function () {
//        function fixHeight() {
//            var headerHeight = $("#switcher").height();
//            $("#iframe").attr("height", $(window).height()-54+ "px");
//        }
//        $(window).resize(function () {
//            fixHeight();
//        }).resize();
//
//        $('.icon-monitor').addClass('active');
//
//        $(".icon-mobile-3").click(function () {
//            $("#by").css("overflow-y", "auto");
//            $('#iframe-wrap').removeClass().addClass('mobile-width-3');
//            $('.icon-tablet,.icon-mobile-1,.icon-monitor,.icon-mobile-2,.icon-mobile-3').removeClass('active');
//            $(this).addClass('active');
//            return false;
//        });
//
//        $(".icon-mobile-2").click(function () {
//            $("#by").css("overflow-y", "auto");
//            $('#iframe-wrap').removeClass().addClass('mobile-width-2');
//            $('.icon-tablet,.icon-mobile-1,.icon-monitor,.icon-mobile-2,.icon-mobile-3').removeClass('active');
//            $(this).addClass('active');
//            return false;
//        });
//
//        $(".icon-mobile-1").click(function () {
//            $("#by").css("overflow-y", "auto");
//            $('#iframe-wrap').removeClass().addClass('mobile-width');
//            $('.icon-tablet,.icon-mobile,.icon-monitor,.icon-mobile-2,.icon-mobile-3').removeClass('active');
//            $(this).addClass('active');
//            return false;
//        });
//
//        $(".icon-tablet").click(function () {
//            $("#by").css("overflow-y", "auto");
//            $('#iframe-wrap').removeClass().addClass('tablet-width');
//            $('.icon-tablet,.icon-mobile-1,.icon-monitor,.icon-mobile-2,.icon-mobile-3').removeClass('active');
//            $(this).addClass('active');
//            return false;
//        });
//
//        $(".icon-monitor").click(function () {
//            $("#by").css("overflow-y", "hidden");
//            $('#iframe-wrap').removeClass().addClass('full-width');
//            $('.icon-tablet,.icon-mobile-1,.icon-monitor,.icon-mobile-2,.icon-mobile-3').removeClass('active');
//            $(this).addClass('active');
//            return false;
//        });
//    });

</script>
</div>