<div ng-include="'templates/layout/layout.html'"></div>
<div class="main-content main-he">
    <!-- 修改用户 -->   
      <div class="head_bt">
        <h2>修改密码</h2>
      </div>

     <!--<button type="button"  name="submit" class="btn btn-primary" ng-click="update()"><i style="padding-right:5px;line-height:20px;font-size:14px;" class="glyphicon glyphicon-saved"></i>保存</button>-->
     <!--<div style="height:15px;"></div>-->

      <div class="touz-main">
         <form class="bs-example bs-example-form" role="form" style="position: relative; left: 30% ;top:50%;">

              <div class="up-addo">旧密码</div>
              <input type="password" class="form-control inp-add" name="yuan" placeholder=""   aria-describedby="basic-addon1" ng-model="password.password"/>

              <div class="up-addo">新密码</div>
              <input type="password"   id="password" name="xin" placeholder="密码长度为大于6位的字母或数字" aria-describedby="basic-addon1" onblur="return passwordCheck('password', 'password')" ng-model="password.passwordNew" class="form-control inp-add" />

              <div class="up-addo">确认新密码</div>
              <input type="password"  id="password" class="form-control inp-add" name="xin2" placeholder="密码长度为大于6位的字母或数字" onblur="return passwordCheck('password', 'password')" aria-describedby="basic-addon1" ng-model="password.passwordNew2"/>
          
         </form>
          <div style="margin: 20px auto; text-align: center"><button type="button"  name="submit" class="btn btn-primary" ng-click="update()" ><i style="padding-right:5px;line-height:20px;font-size:14px;" class="glyphicon glyphicon-saved"></i>保存</button></div>
      </div>
    </div>
<script>
    function passwordCheck(obj, labelName) {
        var objName = eval("document.all." + obj);
        if (document.getElementById('password').value.length < 6) {
//            alert("密码必须要大于6个字符");
//            objName.focus();
            return false;
        }
        return true;
    }
</script>
  <!--end -->      
