<div ng-include="'templates/layout/layout.html'"></div>
<div class="main-content main-he">
    <!-- 修改用户 -->
    <div class="head_bt">
        <h2>修改用户</h2>
    </div>

    <div style="height:15px;"></div>
    <div class="touz-main" >
        <form class="bs-example bs-example-form example-form" role="form" style="position: relative; margin-left: 30% ;top:50%;">
            <select class="add-se" ng-model="tradeRecords.role">
                <option value="">选择用户身份</option>
                <option ng-repeat="x in roleOptions" value="{{x.roleId}}">{{x.roleName}}</option>
            </select>

            <div class="up-addo">账号</div>
            <input type="text" class="form-control inp-add"  ng-model="tradeRecords.name"/ disabled >
            <div class="up-addo">姓名</div>
            <input type="text" class="form-control inp-add" ng-model="tradeRecords.realName"/>
            <div class="up-addo">密码</div>
            <input type="password" class="form-control inp-add" ng-model="tradeRecords.password"/>
            <div class="up-addo">身份证号/营业执照号码</div>
            <input type="text" class="form-control inp-add" ng-model="tradeRecords.idCard"/>
            <div class="up-addo">手机号</div>
            <input type="text" class="form-control inp-add" id="phoneNum" ng-model="tradeRecords.phone"/>
        </form>
        <div style="margin: 20px auto; text-align: center;"><button type="button" class="btn btn-primary primary" ng-click="updateUser(tradeRecords)" >保存</button></div>

    </div>
</div>

</div>


