<div ng-cloak>
    <div ng-include="'templates/layout/layout.html'"></div>
    <div class="main-content main-he">
        <style>
        .yl ul {
            width: 100%;
            margin-bottom: 25px;
        }

        .wid-15 {
            width: 40%;
        }

        .tz-ul {
            padding: 0;
        }

        .sjgs {
            left: -156px;
            top: -12px;
        }

        .file {
            position: absolute;
            top: 5px;
            right: 7px;
            cursor: pointer;
            height: 30px;
            filter: alpha(opacity:0);
            font-size: 0;
            opacity: 0;
            width: 65px;
        }
        </style>
        <!-- 添加首页图片 -->
        <div class="head_bt">
            <h2>添加合作伙伴</h2>
        </div>
        <!--封面路径-->
        <!--<div class="input-group grous">-->
        <!--<div class="input-group-addon" style="width: 150px;">首页图片链接路径：</div>-->
        <!--<input type="text" class="form-control" ng-model="imgnews.imageurl"/>-->
        <!--</div>-->
        <!--表格-->
        <div>
            <!--<ul id="myTab" class="nav nav-tabs" style="border: 0px;">-->
            <!--<li ng-class="{active: isActive}" ng-click="[isActive=true,setType('index')]" style="outline: none;">-->
            <!--<a id="index" >网页端</a>-->
            <!--</li>-->
            <!--<li ng-click="[isActive=false,setType('index_mobile')]" ng-class="{active: !isActive}" style="outline: none;">-->
            <!--<a id="indexMobile" class="tahh" >手机端</a>-->
            <!--</li>-->
            <!--</ul>-->
            <div id="myTabContent" class="tab-content">
                <!--pc端-->
                <div id="indexC" ng-show="isActive==true">
                    <div class="table">
                        <table class="table table-bordered back-wi">
                            <thead class="thead_table">
                                <tr class="thead_tr ">
                                    <th class="thead_th wid-15" colspan="2">上传图片：</th>
                                    <th class="thead_th"></th>
                                </tr>
                            </thead>
                            <tr>
                                <td colspan="2">
                                    <ul class="tz-ul">
                                        <li class="preview"><img id="imghead" src="resource/images/img.jpg" class="img"></li>
                                        <li>
                                            <div ng-controller="partners_addCtrl">
                                                <div style="display: inline-block; position: relative;">
                                                    <input file-model="myFile" type="file" onchange="previewImage(this)" class="file">
                                                    <!-- 选择图片按钮 -->
                                                    <input name="" type="button" class="button-tz" value="选择文件">
                                                </div>
                                                <input ng-click="uploadFile()" type="button" class="button-tz" value="上传">
                                                <input type="hidden" id="imageName" ng-model="imgnews.imagename" miaosu="用于保存图片名称">
                                                <input type="hidden" id="imageId" ng-model="imgnews.imgId" miaosu="用于保存图片Id">
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <!--浏览-->
                                    <div class="yl">
                                        <ul style="width: 95%;">
                                            <li>
                                                <div class="input-group grous">
                                                    <div class="input-group-addon" style="width: 150px;">名称：</div>
                                                    <input type="text" class="form-control" ng-model="imgnews.name" />
                                                </div>
                                            </li>
                                        </ul>
                                        <ul style="width: 95%;">
                                            <li>
                                                <div class="input-group grous">
                                                    <div class="input-group-addon" style="width: 150px;">图片地址：</div>
                                                    <input type="text" class="form-control" disabled id="picUrl" />
                                                </div>
                                            </li>
                                        </ul>
                                        <ul style="width: 95%;">
                                            <li>
                                                <div class="input-group grous">
                                                    <div class="input-group-addon" style="width: 150px;">跳转链接：</div>
                                                    <input type="text" class="form-control" ng-model="imgnews.website" />
                                                </div>
                                            </li>
                                        </ul>
                                        <ul style="width: 95%;">
                                            <li>
                                                <div class="input-group grous">
                                                    <div class="input-group-addon" style="width: 150px;">排序：</div>
                                                    <input type="text" class="form-control" ng-model="imgnews.orderNum" />
                                                </div>
                                            </li>
                                        </ul>
                                        <!--<ul style="width: 95%;">-->
                                        <!--<li>-->
                                        <!--<div class="input-group" >-->
                                        <!--<div class="input-group-addon" style="width: 150px;height:30px">开始时间</div>-->
                                        <!--<input  style="width:750px;height:30px;padding-left:10px;" id="myTime"   ng-model="imgnews.startDate" placeholder="年/月/日 时：分：秒" class="laydate-icon" onClick="laydate({elem:'#myTime',istime: true, format: 'YYYY/MM/DD hh:mm:ss'})">-->
                                        <!--</div>-->
                                        <!--&lt;!&ndash;<div class="input-group grous">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="input-group-addon" style="width: 150px;">开始时间</div>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<input type="text"  class="form-control"  placeholder="年/月/日 时：分：秒" value=""  id="myTime" ng-model="imgnews.startDate"  onclick="SelectDate(this,'yyyy/MM/dd hh:mm:ss')"/>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                        <!--</li>-->
                                        <!--</ul>-->
                                        <!--<ul style="width: 95%;">-->
                                        <!--<li>-->
                                        <!--<div class="input-group" >-->
                                        <!--<div class="input-group-addon" style="width: 150px;height:30px">结束时间</div>-->
                                        <!--<input  style="width:750px;height:30px;padding-left:10px;" id="myTime1"   ng-model="imgnews.endDate" placeholder="年/月/日 时：分：秒" class="laydate-icon" onClick="laydate({elem:'#myTime1',istime: true, format: 'YYYY/MM/DD hh:mm:ss'})">-->
                                        <!--</div>-->
                                        <!--&lt;!&ndash;<div class="input-group grous">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="input-group-addon" style="width: 150px;">结束时间</div>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<input type="text"  class="form-control"  placeholder="年/月/日 时：分：秒" value="" id="myTime1" ng-model="imgnews.endDate"  onclick="SelectDate(this,'yyyy/MM/dd hh:mm:ss')"/>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                        <!--</li>-->
                                        <!--</ul>-->
                                        <!--<ul>-->
                                        <!--<li>-->
                                        <!--<div  class="input-group-addon"  style="width: 150px;height:30px;background:#fafafa">是否在新页面打开：</div>-->
                                        <!--<div class="radioStyle">-->
                                        <!--&lt;!&ndash;<input type="text" class="form-control" ng-model="imgnews.outSite"/>&ndash;&gt;-->
                                        <!--是<input style="outline:none" type="radio" value="true" ng-model="imgnews.outSite"/>-->
                                        <!--否<input  style="outline:none"  type="radio" value="false" ng-model="imgnews.outSite"/></div>-->
                                        <!--</li>-->
                                        <!--</ul>-->
                                    </div>
                                    <!--日期-->
                                    <div class="yl">
                                        <ul>
                                            <li>
                                                <div>
                                                    <div style="width: 150px;height:30px;background:#fafafa" class="input-group-addon">状态：</div>
                                                    <div class="radioStyle">
                                                        <!--<input class="form-control" type="text" id="exampleInput" name="input" ng-model="imgnews.status" />-->
                                                        正常
                                                        <input style="outline:none" type="radio" value="0" name="input" ng-model="imgnews.status" />下线
                                                        <input style="outline:none" type="radio" value="1" class="exampleInput" name="input" ng-model="imgnews.status" />
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <!--<span class="sjgs">（当前时间为：2016-3-28 18:10:28注意不要改变格式。）</span>-->
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div style="clear:both;"></div>
                    <!--<div class="button-bc">-->
                    <!--<input name="" type="button" ng-click="saveImgnews()" value="保存" class="new-button">-->
                    <!--</div>-->
                    <div class="input-group quer" style="width:120px;float: left;margin: 0 0 0 20px">
                        <button class="btn btn-primary btn-sm" type="button" ng-click="saveImgnews()">
                            <i style="padding-right:5px;line-height:30px;" class="glyphicon glyphicon-saved"></i> 保存
                        </button>
                    </div>
                </div>
                <!--&lt;!&ndash;手机端&ndash;&gt;-->
                <!--<div id="indexMobileC" ng-show="isActive==false">-->
                <!--<div class="table">-->
                <!--<table class="table table-bordered back-wi">-->
                <!--<thead class="thead_table">-->
                <!--<tr class="thead_tr ">-->
                <!--<th class="thead_th wid-15" colspan="2">上传图片：</th>-->
                <!--<th class="thead_th"></th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tr>-->
                <!--<td colspan="2">-->
                <!--<ul class="tz-ul">-->
                <!--<li class="preview"><img id="imghead" src="resource/images/img.jpg" class="img"></li>-->
                <!--<li>-->
                <!--<div ng-controller = "activity_addCtrl">-->
                <!--<div style="display: inline-block; position: relative;">-->
                <!--<input file-model="myFile" type="file" onchange="previewImage(this)" class="file">&lt;!&ndash; 选择图片按钮 &ndash;&gt;-->
                <!--<input name="" type="button" class="button-tz" value="选择文件">-->
                <!--</div>-->
                <!--<input ng-click="uploadFile()" type="button" class="button-tz" value="上传">-->
                <!--<input type="hidden" id="imageName"  ng-model="imgnews.imagename"  miaosu="用于保存图片名称">-->
                <!--<input type="hidden" id="imageId"  ng-model="imgnews.id"  miaosu="用于保存图片Id">-->
                <!--</div>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</td>-->
                <!--<td>-->
                <!--&lt;!&ndash;浏览&ndash;&gt;-->
                <!--<div class="yl">-->
                <!--<ul style="width: 95%;">-->
                <!--<li>-->
                <!--<div class="input-group grous">-->
                <!--<div class="input-group-addon" style="width: 150px;">标题：</div>-->
                <!--<input type="text" class="form-control" ng-model="imgnews.title"/>-->
                <!--</div>-->
                <!--</li>-->
                <!--</ul>-->
                <!--<ul style="width: 95%;">-->
                <!--<li>-->
                <!--<div class="input-group grous">-->
                <!--<div class="input-group-addon" style="width: 150px;">点击访问地址：</div>-->
                <!--<input type="text" class="form-control" ng-model="imgnews.url"/>-->
                <!--</div>-->
                <!--</li>-->
                <!--</ul>-->
                <!--<ul style="width: 95%;">-->
                <!--<li>-->
                <!--<div class="input-group grous">-->
                <!--<div class="input-group-addon" style="width: 150px;">排序：</div>-->
                <!--<input type="text" class="form-control" ng-model="imgnews.seqNum"/>-->
                <!--</div>-->
                <!--</li>-->
                <!--</ul>-->
                <!--<ul style="width: 95%;">-->
                <!--<li>-->
                <!--<div class="input-group" >-->
                <!--<div class="input-group-addon" style="width: 150px;height:30px">开始时间</div>-->
                <!--<input  style="width:750px;height:30px;padding-left:10px;" id="myTime2"   ng-model="imgnews.startDate" placeholder="年/月/日 时：分：秒" class="laydate-icon" onClick="laydate({elem:'#myTime2',istime: true, format: 'YYYY/MM/DD hh:mm:ss'})">-->
                <!--</div>-->
                <!--&lt;!&ndash;<div class="input-group grous">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="input-group-addon" style="width: 150px;">开始时间</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="text"  class="form-control"  placeholder="年/月/日 时：分：秒" value=""   id="myTime2" ng-model="imgnews.startDate"  onclick="SelectDate(this,'yyyy/MM/dd hh:mm:ss')"/>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</li>-->
                <!--</ul>-->
                <!--<ul style="width: 95%;">-->
                <!--<li>-->
                <!--<div class="input-group" >-->
                <!--<div class="input-group-addon" style="width: 150px;height:30px">结束时间</div>-->
                <!--<input  style="width:750px;height:30px;padding-left:10px;" id="myTime3"   ng-model="imgnews.endDate" placeholder="年/月/日 时：分：秒" class="laydate-icon" onClick="laydate({elem:'#myTime3',istime: true, format: 'YYYY/MM/DD hh:mm:ss'})">-->
                <!--</div>-->
                <!--&lt;!&ndash;<div class="input-group grous">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="input-group-addon" style="width: 150px;">结束时间</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="text"  class="form-control"  placeholder="年/月/日 时：分：秒" value="" id="myTime3" ng-model="imgnews.endDate"  onclick="SelectDate(this,'yyyy/MM/dd hh:mm:ss')"/>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</li>-->
                <!--</ul>-->
                <!--<ul style="width: 95%;">-->
                <!--<li>-->
                <!--<div  class="input-group-addon"  style="width: 150px;height:30px;background:#fafafa">是否在新页面打开：</div>-->
                <!--<div class="radioStyle">-->
                <!--&lt;!&ndash;<input type="text" class="form-control" ng-model="imgnews.outSite"/>&ndash;&gt;-->
                <!--是<input style="outline:none" type="radio" value="true" ng-model="imgnews.outSite"/>-->
                <!--否 <input  style="outline:none"  type="radio" value="false" ng-model="imgnews.outSite"/></div>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--&lt;!&ndash;日期&ndash;&gt;-->
                <!--<div class="yl">-->
                <!--<ul>-->
                <!--<li>-->
                <!--<div >-->
                <!--<div style="width: 150px;height:30px;background:#fafafa" class="input-group-addon">状态：</div>-->
                <!--<div class="radioStyle">-->
                <!--&lt;!&ndash;<input class="form-control" type="text" id="exampleInput" name="input" ng-model="imgnews.status" />&ndash;&gt;-->
                <!--正常<input  style="outline:none"  type="radio"  value="0" name="input" ng-model="imgnews.status" />-->
                <!--下线<input  style="outline:none"  type="radio"  value="1"  name="input" ng-model="imgnews.status" />-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--</ul>-->
                <!--&lt;!&ndash;<span class="sjgs">（当前时间为：2016-3-28 18:10:28注意不要改变格式。）</span>&ndash;&gt;-->
                <!--</div>-->
                <!--</td>-->
                <!--</tr>-->
                <!--</table>-->
                <!--</div>-->
                <!--<div style="clear:both;"></div>-->
                <!--<div class="button-bc">-->
                <!--<input name="" type="button" ng-click="saveImgnews1()" value="保存" class="new-button">-->
                <!--</div>-->
                <!--<div class="input-group quer" style="width:120px;float: left;margin: 0 0 0 20px">-->
                <!--&lt;!&ndash;class="search_buttun"&ndash;&gt;-->
                <!--<button class="btn btn-primary btn-sm" type="button" ng-click="saveImgnews1()">-->
                <!--<i style="padding-right:5px;line-height:30px;" class="glyphicon glyphicon-saved"></i> 保存-->
                <!--</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="resource/js/time.js"></script>
<!-- 上传图片特效js -->
<script type="text/javascript">
function previewImage(file) {
    var div = document.getElementsByClassName('preview');
    div.innerHTML = '<img id=imghead>';
    var img = $(file).closest("td").find("img")[0];
    var reader = new FileReader();
    reader.onload = function(evt) { img.src = evt.target.result; }
    reader.readAsDataURL(file.files[0]);
}
//时间下拉框的颜色
//!function(){
//    laydate.skin('molv');//切换皮肤，请查看skins下面皮肤库
//    laydate({elem: '#demo'});//绑定元素
//}();
//
//$("#index").click(function () {
//  $("#indexMobileC").removeClass("in active");
//  $("#indexC").addClass("in active");
//  $(this).parent().addClass("active");
//  $("#indexMobile").parent().removeClass("active");
//});
//$("#indexMobile").click(function () {
//  $("#indexC").removeClass("in active");
//  $("#indexMobileC").addClass("in active");
//  $(this).parent().addClass("active");
//  $("#index").parent().removeClass("active");
//
//});
</script>
</div>