<div ng-include="'templates/layout/layout.html'"></div>
<div class="main-content main-he">
    <style>
    .tz-ul {
        padding: 0;
    }

    .file {
        position: relative;
        top: 0;
        right: -10px;
        cursor: pointer;
        height: 24px;
        filter: alpha(opacity:1);
        opacity: 1;
        width: 0px;
    }

    .yl ul {
        width: 97%;
        margin-bottom: 25px;
    }

    .wid-15 {
        width: 40%;
    }

    .tz-ul {
        padding: 0;
    }

    .sjgs {
        left: -156px;
        top: -12px;
    }
    /*.file {*/
    /*position:absolute;*/
    /*top: 5px;*/
    /*right: 7px;*/
    /*cursor: pointer;*/
    /*height: 30px;*/
    /*filter: alpha(opacity:0);*/
    /*font-size:0;*/
    /*opacity: 0;*/
    /*width: 65px;*/
    /*}*/
    </style>
    <!-- 修改首页图片 -->
    <div class="head_bt">
        <h2>修改android版本</h2>
    </div>
    <div>
        <div id="myTabContent" class="tab-content">
            <!--pc端-->
            <div id="indexC" class=" in active">
                <div class="table">
                    <table class="table table-bordered back-wi">
                        <!--<thead class="thead_table">-->
                        <!--<tr class="thead_tr ">-->
                        <!--<th class="thead_th wid-15" colspan="2">上传图片：</th>-->
                        <!--<th class="thead_th"></th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <tr>
                            <!--<td colspan="2">-->
                            <!--<ul class="tz-ul">-->
                            <!--<li class="preview"><img id="imghead" ng-src="{{tradeRecord.picture}}" class="img"></li>-->
                            <!--<li>-->
                            <!--<div ng-controller = "openScreenEditCtrl">-->
                            <!--<div style="display: inline-block; position: relative;">-->
                            <!--<input file-model="myFile" type="file" onchange="previewImage(this)" class="file">&lt;!&ndash; 选择图片按钮 &ndash;&gt;-->
                            <!--<input name="" type="button" class="button-tz" value="选择文件">-->
                            <!--</div>-->
                            <!--<input ng-click="uploadFile()" type="button" class="button-tz" value="上传">-->
                            <!--<input type="hidden" id="imageName"  ng-model="imgnews.imagename"  miaosu="用于保存图片名称">-->
                            <!--<input type="hidden" id="imageId"  ng-model="imgnews.id"  miaosu="用于保存图片Id">-->
                            <!--</div>-->
                            <!--</li>-->
                            <!--</ul>-->
                            <!--</td>-->
                            <td>
                                <!--浏览-->
                                <div class="yl">
                                    <ul style=" margin-right:10%;">
                                        <li>
                                            <div class="input-group " style="width:50%;margin-left:300px;">
                                                <div class="input-group-addon" style="width: 150px;height:35px;">更新的版本：</div>
                                                <input type="text" class="form-control" ng-model="tradeRecord.version " />
                                            </div>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <div class="input-group " style="width:50%;margin-left:300px;">
                                                <div class="input-group-addon" style="width: 150px;">下载地址：</div>
                                                <input type="text" ng-show="showUrl" class="form-control" disabled ng-model="tradeRecord.url" />
                                                <input type="text" ng-show="!showUrl" class="form-control" disabled id="getUrl" />
                                            </div>
                                        </li>
                                    </ul>
                                    <!--<ul>-->
                                    <!--<li>-->
                                    <!--<div class="input-group grous">-->
                                    <!--<div class="input-group-addon" style="width: 150px;">更新时间：</div>-->
                                    <!--<input type="text" class="form-control" ng-model="tradeRecord.millisecond"/>-->
                                    <!--</div>-->
                                    <!--</li>-->
                                    <!--</ul>-->
                                    <div class="input-group " style="width:50%;margin-left:325px;">
                                        <div class="input-group-addon" style="width: 150px;">更新详情：</div>
                                        <textarea class="form-control" ng-model="tradeRecord.detail" cols="83" rows="3" style="width:96%;height:40px;" type="text"></textarea>
                                        <!--<input type="text" class="form-control" ng-model="tradeRecord.detail"/>-->
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="input-group" style="margin-left:300px;margin-top:10px;">
                                                <div class="input-group-addon" style="width: 150px;height:30px">更新时间</div>
                                                <input style="width:605px;height:32px;padding-left:10px;" id="myTime" ng-model="tradeRecord.updatedTime" placeholder="年/月/日 时：分：秒" class="laydate-icon" onClick="laydate({elem:'#myTime',istime: true, format: 'YYYY/MM/DD hh:mm:ss'})">
                                            </div>
                                            <!--<div class="input-group grous">-->
                                            <!--<div class="input-group-addon" style="width: 150px;">开始时间</div>-->
                                            <!--<input type="text"  class="form-control"  placeholder="年/月/日 时：分：秒" value="" id="myTime" ng-model="tradeRecord.startTime"  onclick="SelectDate(this,'yyyy/MM/dd hh:mm:ss')"/>-->
                                            <!--</div>-->
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <div class="input-group " style="width:50%;margin-left:300px;">
                                                <div class="input-group-addon" style="width: 150px;">需要强制更新的版本号，以英文逗号隔开：</div>
                                                <input type="text" class="form-control" ng-model="tradeRecord.forceUpdate" />
                                            </div>
                                        </li>
                                    </ul>
                                    <div style="margin-top:20px;">
                                        <ul class="tz-ul">
                                            <li>
                                                <div>
                                                    <div style="display: inline-block; position: relative;margin-left: -510px;font-size: 18px;">
                                                        <input file-model="myFile" type="file" class="file" id="fileUpload" style="height:28px;">
                                                        <!-- 选择图片按钮 -->
                                                        <input ng-click="uploadFile()" type="button" class="button-tz" style="width:70px;margin-left:30px;" value="上传">
                                                        <input type="hidden" id="imageName" miaosu="用于保存文件路径">
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="clear:both;"></div>
                <!--<div class="button-bc">-->
                <!--<input name="" type="button" ng-click="edit()" value="保存" class="new-button">-->
                <!--</div>-->
                <div class="input-group quer" style="width:120px;float: left;margin: 0 0 0 20px">
                    <button class="btn btn-primary btn-sm" type="button" ng-click="edit()">
                        <i style="padding-right:5px;line-height:20px;" class="glyphicon glyphicon-saved"></i> 保存
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- 上传图片特效js -->
    <script type="text/javascript">
    function previewImage(file) {
        var div = document.getElementsByClassName('preview');
        div.innerHTML = '<img id=imghead>';
        var img = $(file).closest("td").find("img")[0];
        var reader = new FileReader();
        reader.onload = function(evt) { img.src = evt.target.result; }
        reader.readAsDataURL(file.files[0]);
    }
    //时间下拉框的颜色
    ! function() {
        laydate.skin('molv'); //切换皮肤，请查看skins下面皮肤库
        laydate({ elem: '#demo' }); //绑定元素
    }();
    </script>
    <script type="text/javascript" src="resource/js/time.js"></script>