/*总样式*/
body,.main-container:after{background-image: url(../images/bj.png)!important;font-family: "微软雅黑";}
.seleec{background: #eeeeee;}
.dis{display:none;}
.diss{display:block;}
.navbar{background-image: url(../images/header-bj.png);}
.navbar-brand{padding:10px 0px!important;}
.nav1>li>a:focus,.nav1>li>a:hover {background:none;}
.nav1>li>a{color: #fff;font-family: "微软雅黑";padding: 15px 35px;}
.nav1>li>a{border-radius: 0px;}
.nav1 li a img{padding-right: 10px;}
.sids,.main-he{overflow: visible;}
.sidebar,.sidebar:before{width: 17%;border: none;background: none;padding:0 10px 0 15px;float: left}
.main-container{margin-top: 15px;}
.nav-list>li>a{background: url(../images/nav-bj.png);height: 35px;line-height: 35px;}
.menu-te{color: #b24e0e;font-weight: 600;}
.nav-li{border: 1px solid #cccccc!important;border-radius: 3px;margin-bottom: 20px!important;}
.subme{list-style: none;margin:0px;background: #f2f2f2;}
.subme li{padding:5px;}
.subme li a{padding:5px;color: rgba(12, 6, 6, 0.74);font-weight: 600;text-decoration: none;}
.main-content{width: 83%;float: right;height: 80%;margin-left: 0;!important;}
.main-content iframe{width: 99.8%;border: 0;}
.footq{height: 35px;line-height:50px;border-top: 1px solid #dddddd;position: absolute;bottom: 0px;width: 100%;text-align: center;}
.dropdown{
    width:210px;
    margin-right:-19px;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color:transparent !important;
}

.dropdown-menu1{
    position:absolute;
    height:76px;
    width:210px;
    margin-right:-40px;
    border:1px solid #4d4d4d;
    border-radius:0px;
    text-align:center;

}
.dropdown-menu1 li a:first-child{
    border-bottom:1px solid #4d4d4d;
    height:40px;
    line-height:40px;
    /*background:#afa;*/
    margin-top:-5px;
}
/*.dropdown-menu1 li a:last-child{*/
    /*border-bottom:1px solid #4d4d4d;*/
    /*height:36px;*/
    /*line-height:36px;*/
    /*!*background:#afa;*!*/
    /*margin-top:3px;*/
/*}*/
.dropdown-menu1 li a:last-child:hover{
    /*height:34px;*/
    /*line-height:34px;*/
    background:#fff;
    /*margin-top:-5px;*/
    border-top:1px solid #4d4d4d;
}
/*菜单图标*/
.icon-file1{background-image:url(../images/nav-ico.png);background-repeat:no-repeat;background-position: -112px -8px;height: 16px;position: relative;top: -2px;}
.icon-file2{background-image:url(../images/nav-ico.png);background-repeat:no-repeat;background-position: -40px -8px;height: 16px;position: relative;top: -2px;}
.icon-file3{background-image:url(../images/nav-ico.png);background-repeat:no-repeat;background-position: 10px -8px;height: 16px;position: relative;top: -2px;}
.icon-file4{background-image:url(../images/nav-ico.png);background-repeat:no-repeat;background-position: -64px -8px;height: 16px;position: relative;top: -2px;}
.icon-file5{background-image:url(../images/nav-ico.png);background-repeat:no-repeat;background-position: -136px -8px;height: 16px;position: relative;top: -2px;}
.icon-file6{background-image:url(../images/nav-ico.png);background-repeat:no-repeat;background-position: -88px -8px;height: 16px;position: relative;top: -2px;}
.icon-file7{background-image:url(../images/nav-ico.png);background-repeat:no-repeat;background-position: -16px -8px;height: 16px;position: relative;top: -2px;}

.nav a {
    cursor: pointer
}
.staticDiv{
    width:30%;
    height:330px;
    border:1px solid #ccc;
    float:left
}
.staticText{
    height:36px;
    width:100%;
    background:#eee;
    padding:7px 20px;
    border-bottom:1px solid #ccc;
}
.addWidth{
    margin-top:20px;
    margin-left:60px;
    line-height:30px;
}
.addWidth li{
    padding-left:15px;
}

.addWidth li span{
    color:#ec7c7c;
}