<div ng-cloak>
<div ng-include="'templates/layout/layout.html'"></div>
<div class="main-content main-he">
    <!-- 查询借款列表 -->
    <div class="head_bt">
        <h2>查看借款列表</h2>
    </div>
    <ul class="new-add" style="margin-bottom:55px;">
        <!-- 搜索框 -->
        <li>
            <div class="input-group" style="float: left;">
                <span class="timeTip1">日期范围：</span><input type="date" placeholder="yyyy-MM-dd "  class="timeTip1"  ng-model="cashData.startDate" />
            </div>

            <div class="input-group" style="float: left;">
                <span class="timeTip1">&nbsp;-&nbsp;&nbsp;&nbsp;</span><input type="date" placeholder="yyyy-MM-dd " class="timeTip1"  ng-model="cashData.endDate" />
            </div>
            <div class="input-group" style="width:250px;float: left;margin-left:40px;">
                <input  style="width:250px;" type="text" ng-model="cashData.keyword" id="keyword" class="timeTip1" placeholder="仅支持借款标题模糊搜索"/>
            </div>
            <div class="input-group " style="float: left;margin-left:40px;">
                <button class="search_buttun" type="button" ng-click="selectPage(1)">
                    <i style="padding-right:5px;line-height:30px;" class="glyphicon glyphicon-search"></i> 查询
                </button>
            </div>
            <!--<div class="input-group">-->
                <!--<input type="text" class="form-control quer-ico" placeholder="仅支持借款标题模糊搜索" ng-model="cashData.keyword"/>-->
                <!--<span class="input-group-btn">-->
        <!--<button class="btn btn-default" type="button" ng-click="selectPage(1)">搜索标题</button>-->
        <!--</span>-->
            <!--</div>-->
        </li>
    </ul>
    <!-- 表格-->
    <div>
        <div>
            <table class="table table-bordered ta-bo back-wi">
                <thead class="thead_table">
                <tr class="thead_tr ">
                    <th class="thead_th min-16 max-20">借款标题</th>
                    <th class="thead_th  min-7">借款金额(元)</th>
                    <!--<th class="thead_th">已筹款金额(元)</th>-->
                    <th class="thead_th min-7">借款利率</th>
                    <th class="thead_th min-7">已发标数</th>
                    <th class="thead_th min-7 max-10">筹款状态</th>
                    <th class="thead_th min-7 max-10">状态</th>
                    <th class="thead_th min-7 max-10">协议编号</th>
                   <!-- <th class="thead_th min-7 max-10">用途</th>-->
                    <!--<th class="thead_th min-7 max-10">官方描述</th>
                    <th class="thead_th min-7 max-10">保障措施</th>
                    <th class="thead_th min-7 max-10">借款人信息</th>-->
                    <th ng-hide='role==880' class="thead_th min-7 max-10">操作管理</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="loan in itemList">
                    <td>{{loan.title}}</td>

                    <!--<td>{{loan.money | PointToYuan|currency:"":2 }}</td>-->
                    <!--<td>{{loan.auditMoney | PointToYuan|currency:"":2  }}</td>-->
                    <!--<td>{{loan.auditRate/10}}</td>-->

                    <!--<td>{{loan.money | PointToYuan }}</td>-->
                    <!--<td>{{loan.auditMoney | PointToYuan }}</td>-->
                    <!--<td>{{loan.auditRate}}</td>-->

                    <td>{{loan.money | PointToYuan| currency:"":2 }}</td>
                    <!--<td>{{loan.auditMoney }}</td>-->
                    <td>{{loan.auditRate/10}}</td>
                    <td>{{loan.planSum}}</td>
                    <td ng-if="loan.state==110">等待审核</td>
                    <td ng-if="loan.state==120">审核中</td>
                    <td ng-if="loan.state==130">审核通过</td>
                    <td ng-if="loan.state==140">审核失败</td>
                    <td ng-if="loan.state==210">还款中</td>
                    <td ng-if="loan.state==220">已结束</td>
                    <td ng-if="loan.status==0">正常</td>
                    <td ng-if="loan.status==1">异常</td>
                    <td>{{loan.borrowingAgreement}}</td>
                    <!--<td>{{loan.used}}</td>-->
                    <!--<td>{{loan.description}}</td>-->
                    
                    <td  ng-hide='role==880' class="ta-bo1">
                        <!--<a href="javascript:;" class="a-hei" >查看</a>-->
                        <!--<a href="javascript:;" class="a-hei" ng-click="viewUI(loan)">查看</a>-->
                        <button type="button" class="btn btn-default qw" ng-click="editUI(loan)">修改</button>
                        <button type="button" class="btn btn-default qw" ng-click="showConfirm(loan)">删除</button>
                        <!--<a href="javascript:;" class="a-hei" ng-click="editUI(loan)">修改</a>-->
                        <!--<a href="javascript:;" class="a-hei" ng-click="showConfirm(loan)">删除</a>-->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="overflow: hidden;margin-top: 10px; margin: auto; text-align: center;" ng-show="totalPages>0">
            <nav>
                <ul id="pagination" class="pagination pagination-sm" style="">
                    <li id="firstPage"><span ng-click="selectPage(1)"
                                             aria-hidden="true">首页</span></li>
                    <li id="Previous"><span ng-click="selectPage(nowPage-1)"
                                            aria-hidden="true">«</span></li>
                    <li ng-repeat="page in pages" ng-class="{true:'active'}[page.showNumber==nowPage]">
                        <a ng-click="selectPage(page.showNumber)">{{page.showNumber}}</a></li>
                    <li ng-show="isShowDot"><a ng-click="selectPage(nowPage+6)">……</a></li>
                    <li id="Next"><a ng-click="selectPage(nowPage+1)" aria-label="Next"><span
                            aria-hidden="true">»</span></a></li>
                    <li id="lastPage"><a ng-click="selectPage(totalPages)"><span
                            aria-hidden="true">尾页</span></a></li>
                    <li id="sumCount"><span
                            aria-hidden="true">共{{sumCount}}条</span></li>
                    <li><a><span
                            aria-hidden="true"><input style="width: 30px;height: 16px" type="text"  ng-model="tiaoz">&nbsp;&nbsp;<span  ng-click="selectPage(tiaoz)">跳转</span></span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</div>